/EmployeeManagement/.vs
/EmployeeManagement/EmployeeManagement.Application/obj
/EmployeeManagement/EmployeeManagement.Core/bin
/EmployeeManagement/EmployeeManagement.Core/obj
/EmployeeManagement/EmployeeManagement.Infrastructure/obj
/EmployeeManagement/EmployeeManagement/obj
/EmployeeManagement/EmployeeManagement.Application/bin
/EmployeeManagement/EmployeeManagement/bin
/EmployeeManagement/EmployeeManagement.Infrastructure/bin
